<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %} About Page {% endblock %}

{% block content %}
<br>
<p>This app is meant be used for monitoring daily food intake, 
hormonal level and cyclical changes of the body's chemistry in order to 
understand which dietary restrictions might help reduce and/or prevent auto immune and inflamatory conditions.</p>
<p>We are dedicated to provide you with our best design that will hopefuly be useful in keeping your health condition better managed.</p>

{% endblock %}